{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <h1 class="page-header">
            Campaigns
        </h1>
    </div>
    <div id="flashes" class="row"></div>
    <div class="row">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-target="#modal"
            onclick="edit('new')">
            <i class="fa fa-plus"></i> New Campaign</button>
        <button type="button" class="btn btn-success" id="completeSelectedCampaigns" style="display:none; margin-left: 10px;"
            onclick="completeSelectedCampaigns()">
            <i class="fa fa-check"></i> Complete Selected (<span id="selectedCompleteCount">0</span>)</button>
        <button type="button" class="btn btn-danger" id="deleteSelectedCampaigns" style="display:none; margin-left: 10px;"
            onclick="deleteSelectedCampaigns()">
            <i class="fa fa-trash-o"></i> Delete Selected (<span id="selectedCount">0</span>)</button>
    </div>
    &nbsp;

    <ul class="nav nav-tabs" role="tablist">
        <li class="active" role="activeCampaigns"><a href="#activeCampaigns" aria-controls="activeCampaigns" role="tab"
                data-toggle="tab">Active Campaigns</a></li>
        <li role="archivedCampaigns"><a href="#archivedCampaigns" aria-controls="archivedCampaigns" role="tab"
                data-toggle="tab">Archived Campaigns</a></li>
    </ul>
    </br>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="activeCampaigns">
            <div id="flashes" class="row"></div>
            &nbsp;
            <div id="loading">
                <i class="fa fa-spinner fa-spin fa-4x"></i>
            </div>
            <div id="emptyMessage" class="row" style="display:none;">
                <div class="alert alert-info">
                    No campaigns created yet. Let's create one!
                </div>
            </div>
            <div class="row">
                <table id="campaignTable" class="table" style="display:none;">
                    <thead>
                        <tr>
                            <th class="no-sort" style="width: 30px;"><input type="checkbox" id="selectAllActive" title="Select All"></th>
                            <th class="col-md-3">Name</th>
                            <th class="col-md-4">Created Date</th>
                            <th class="col-md-2">Status</th>
                            <th class="col-md-3 no-sort"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="archivedCampaigns">
            <div id="emptyMessageArchived" class="row" style="display:none;">
                <div class="alert alert-info">
                    No archived campaigns.
                </div>
            </div>
            <div class="row">
                <table id="campaignTableArchive" class="table" style="display:none;">
                    <thead>
                        <tr>
                            <th class="no-sort" style="width: 30px;"><input type="checkbox" id="selectAllArchived" title="Select All"></th>
                            <th class="col-md-3">Name</th>
                            <th class="col-md-4">Created Date</th>
                            <th class="col-md-2">Status</th>
                            <th class="col-md-3 no-sort"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="dismiss()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="campaignModalLabel">
                    New Campaign
                    <div class="btn-group" role="group" style="margin-left: 15px;">
                        <button type="button" class="btn btn-sm btn-primary campaign-type-btn active" data-type="email">
                            <i class="fa fa-envelope"></i> Email
                        </button>
                        <button type="button" class="btn btn-sm btn-default campaign-type-btn" data-type="sms">
                            <i class="fa fa-mobile"></i> SMS
                        </button>
                        <button type="button" class="btn btn-sm btn-default campaign-type-btn" data-type="generic">
                            <i class="fa fa-link"></i> Generic
                        </button>
                    </div>
                </h4>
            </div>
            <div class="modal-body" id="modal_body">
                <div class="row" id="modal.flashes"></div>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Campaign name" autofocus>
                    
                    <input type="hidden" id="campaign_type" value="email">
                    
                    <!-- Email Template (shown for email campaigns) -->
                    <div id="email_template_div">
                        <label class="control-label" for="template">Email Template:</label>
                        <select class="form-control" placeholder="Template Name" id="template" />
                        <option></option>
                        </select>
                    </div>
                    
                    <!-- SMS Template (shown for SMS campaigns) -->
                    <div id="sms_template_div" style="display:none;">
                        <label class="control-label" for="sms_template">SMS Template:</label>
                        <select class="form-control" placeholder="SMS Template Name" id="sms_template" />
                        <option></option>
                        </select>
                    </div>
                    
                    <label class="control-label" for="page">Landing Page:</label>
                    <select class="form-control" placeholder="Landing Page" id="page" />
                    <option></option>
                    </select>
                    <input class="form-check-input" type="checkbox" id="basicauth">
                    <label class="form-check-label" for="basicauth"> Use HTTP Basic Access Authentication
                        <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="Enables a landing page with HTTP Authentication"></i>
                    </label><br>
                    <label class="control-label" for="url">URL:
                        <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="Location of Gophish listener (must be reachable by targets!)"></i>
                        <span id="urlLengthIndicator" style="margin-left: 10px; font-size: 12px;"></span>
                    </label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="http://192.168.1.1" id="url" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" id="urlTemplateBtn" data-toggle="tooltip" title="Use URL Template">
                                <i class="fa fa-list"></i>
                            </button>
                        </span>
                    </div>
                    <label class="control-label" for="urlparam">URL Parameter:
                        <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="Sets the parameter used in the URL to track the target. It is recommended to change this parameter, to make Gophish stealthier. Leave blank to use default (rid)."></i>
                    </label>
                    <input type="text" class="form-control" placeholder="rid" id="urlparam" />
                    <label class="control-label" for="qrsize">QR Code Size:
                        <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="Size of QR code images (integer is height & width). Leave blank to not include QR code images and use normal links."></i>
                    </label>
                    <input type="number" class="form-control" placeholder="256" id="qrsize" />
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label" for="url">Launch Date </label>
                            <input type="text" class="form-control" id="launch_date" />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label" for="delay">Send By (Optional)
                                <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="If specified, Gophish will send messages evenly between the campaign launch and this date."></i>
                            </label>
                            <input type="text" class="form-control" id="send_by_date" autocomplete="random-data"/> <!--Chrome ignores autocomplete="off".-->
                        </div>
                    </div>
                    <div class="form-group" id="rate_limit_div" style="margin-top: 10px;">
                        <label class="control-label" for="rate_limit">Max Emails Per Minute (Optional):
                            <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="If specified, Gophish will send at most this many emails per minute, starting from the campaign launch."></i>
                        </label>
                        <input type="number" class="form-control" id="rate_limit" min="1" placeholder="e.g. 50" />
                    </div>
                     
                     <!-- Email Sending Profile (shown for email campaigns) -->
                    <div id="email_profile_div">
                        <label class="control-label" for="profile">Email Sending Profile:</label>
                        <div class="input-group">
                            <select class="form-control" placeholder="Sending Profile" id="profile" />
                            <option></option>
                            </select>
                            <span class="input-group-btn">
                                <button type="button" data-toggle="modal" data-backdrop="static" data-target="#sendTestEmailModal"
                                    class="btn btn-primary button">
                                    <i class="fa fa-envelope"></i> Send Test Email</button>
                            </span>
                        </div>
                    </div>
                    
                    <!-- SMS Sending Profile (shown for SMS campaigns) -->
                    <div id="sms_profile_div" style="display:none;">
                        <label class="control-label" for="sms_profile">SMS Sending Profile:</label>
                        <select class="form-control" placeholder="SMS Sending Profile" id="sms_profile" />
                        <option></option>
                        </select>
                    </div>
                    
                    <!-- Groups (hidden for generic campaigns) -->
                    <div id="groups_div">
                        <label class="control-label" for="users">Groups:</label>
                        <select class="form-control" id="users" multiple="multiple"></select>
                        <input class="form-check-input" type="checkbox" id="randomize_send_order">
                        <label class="form-check-label" for="randomize_send_order"> Randomize send order
                            <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="Sends messages to recipients in a random order instead of the order they appear in the target groups"></i>
                        </label><br>
                    </div>

                    <!-- Generic campaign info message -->
                    <div id="generic_info_div" style="display:none;">
                        <div class="alert alert-info" style="margin-top: 15px;">
                            <i class="fa fa-info-circle"></i> <strong>Generic Campaign:</strong>
                            No emails or SMS will be sent. After launching, you'll receive a tracking URL to distribute manually (e.g., via QR codes, USB drops, or other methods).
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismiss()">Close</button>
                <button type="button" id="launchButton" class="btn btn-primary" onclick="launch()">
                    <i class="fa fa-rocket"></i> Launch Campaign</button>
            </div>
        </div>
    </div>
</div>
<!-- URL Template Modal -->
<div class="modal fade" id="urlTemplateModal" tabindex="-1" role="dialog" aria-labelledby="urlTemplateModalLabel">
    <div class="modal-dialog" role="document" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="urlTemplateModalLabel">Select URL Template</h4>
            </div>
            <div class="modal-body" style="max-height: 500px; overflow-y: auto;">
                <div style="margin-bottom:10px;">
                    <input type="text" class="form-control" id="urlTemplateSearch" placeholder="Search by name or URL..." autocomplete="off">
                </div>
                <div id="urlTemplateList"></div>
                <!-- Inline Add Custom Form -->
                <div id="inlineAddTemplateForm" style="display:none; margin-top:15px; border-top:1px solid #e0e0e0; padding-top:15px;">
                    <h5 style="margin-top:0;"><i class="fa fa-plus-circle"></i> Save as Custom Template</h5>
                    <div id="inlineAddTemplateFlashes"></div>
                    <div class="form-group">
                        <label for="customTemplateName">Template Name:</label>
                        <input type="text" class="form-control" id="customTemplateName" placeholder="My Custom Template">
                    </div>
                    <div class="form-group">
                        <label for="customTemplateUrl">URL:</label>
                        <input type="text" class="form-control" id="customTemplateUrl" placeholder="https://example.com/path">
                    </div>
                    <div style="text-align:right;">
                        <button type="button" class="btn btn-default" id="cancelAddTemplateBtn">Cancel</button>
                        <button type="button" class="btn btn-primary" id="saveCustomTemplateBtn">
                            <i class="fa fa-save"></i> Save Template
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="addCustomTemplateBtn">
                    <i class="fa fa-plus"></i> Add Custom
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Send Test Email Modal -->
<div class="modal" id="sendTestEmailModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- New Email Modal -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="sendTestEmailModalTitle">Send Test Email</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="sendTestEmailModal.flashes"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="control-label" for="to">Send Test Email to:</label>
                    </div>
                    <br>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="First Name" name="to_first_name">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="Last Name" name="to_last_name">
                    </div>
                    <div class="col-sm-4">
                        <input type="email" class="form-control" placeholder="Email" name="to_email" required>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="Position" name="to_position">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                <button type="button" class="btn btn-primary" id="sendTestModalSubmit" onclick="sendTestEmail()">
                    <i class="fa fa-envelope"></i> Send</button>
            </div>
        </div>
    </div>
</div>
{{end}} {{define "scripts"}}
<script src="/js/dist/app/campaigns.min.js"></script>
{{end}}
